body {
    background-image: url("images/backgrounImg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  div.height{
    height: 100vh;
  }
  